<div class="container">
  <h3>User: {{userName}} <span class="pull-right"><button type="button" class="btn btn-primary" (click)="onLogout()">Logout</button></span></h3>
  <hr />
  <div class="container">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Your First Name"required autofocus [(ngModel)]="firstName" />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Your Last Name" required [(ngModel)]="lastName" />
    </div>
    <div class="form-group">
      <label for="emailInput">Email</label>
      <input type="text" class="form-control" id="emailInput" placeholder="(optional)" [(ngModel)]="emailInput" />
    </div>
    <!-- Property Binding: [ ] -->
    <button type="button" class="btn btn-primary" (click)="onAddNewUser()">Add</button>
    <button type="button" class="btn btn-secondary" (click)="onReset()">Clear</button>
  </div>

  <div class="container" id="userList">
    <hr />
      <h3 [ngStyle]="{color: getColor()}">Users</h3>
      <div *ngIf="newUserAdded; else noUsers">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    <ng-template #noUsers>No Users Added.</ng-template>
  </div>

  <div class="container">
    <hr />
    <!-- Even though currentYear is defined as type number in app.component.ts, it resolves to a string -->
    <footer class="pull-right">&copy; {{getCurrentYear()}}</footer>
  </div>
</div>